<head>
  <script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '25305ca80520bb936e981e4d8a9f7377db022b4a');
</script>
</head>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJVSB5G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Blog</h2>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (where .Data.Pages "Type" "blog") }}
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>

		<!--div class="tc">
			<a href="/blog" class="btn raise">Continuar lendo</a>
		</div-->

	</div>
</div>

