<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149460038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149460038-1');
  
</script>	
<meta name="google-site-verification" content="gIl4gmxMxeXjVt17SBOp8I4nMUTjbSpiEyeSeL6B2-4" />
<meta name="description" content="Consultoria sob demanda para pessoas e empresas desenvolverem habilidades técnicas para trabalhar com produtos digitais em Ágil e Scrum."/>
<meta name="robots" content="follow, index"/>
<link rel="canonical" href="https://estudiooca.netlify.app" />
<meta name="author" content="estudiooca - Anderson da Costa Ribeiro"/>
<meta name="keywords" content="product owner curso, product owner scrum, product owner agile, product owner backlog product owner treinamento, product owner conceito, curso de product owner">	
<meta name="keywords" content="gerente de produto o que faz, gerente de produtos digitais, gerente de produto curso
gerente de produto atribuições, gerente de produto atividades, product manager">	
<meta name="keywords" content="ux designer curso, ux designer o que faz,  ux designer o que é, ux designer brasil, ux designer blog, ux design curso rj, ux design como começar">
<meta name="keywords" content="scrum o que é, scrum gestão ágil para projetos de sucesso, scrum brasilscrum basico, scrum burndown chart, scrum certificação, scrum curso rj">
<meta name="Keyowrd" contente="lean startup, lean agile, lean analytics, lean agile coach, lean ágil">
	
	


</head>



<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Envie uma mensagem</h4>

  <form name="contact-form" action="email-form" method="POST" data-netlify="true">
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Nome" class="w-100 mb2">
          <label for="name">Nome</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Digite sua mensagem" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Escrever mensagem</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Enviar</button>
    </div>
  </form>
</div>

