
<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<!--img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0"-->
			<p class="f3 lh-title light-gray b tc mb2">Newsletter</p>
			<p>Cadastre seu e-mail para ser informado primeiro sobre nossas novidades.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Estúdiooca</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/contato" class="link">Contato</a></li>
					<li><a href="/agendar" class="link">Agendamento Grátis</a></li>
					<li><a href="/blog" class="link">Blog</a></li>
					
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Saiba mais</h3>
				<ul class="mb3">
					<li><a href="/agendar" class="link">Agedamento Grátis</a></li>
					<li><a href="/blog" class="link">Últimas postagens</a></li>					
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Siga nas redes</h3>
				<ul class="mhn2">
			     

					
					{{ partial "social-icon" (dict "link" "https://twitter.com/estudioocarj" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/estudioocarj/" "svg" "icons-instagram") }}

				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

<!-- banner da politica de privacidade -->
<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"gdprAppliesGlobally":false,"consentOnContinuedBrowsing":false,"whitelabel":false,"lang":"pt-BR","siteId":1967627,"cookiePolicyId":42527116,"cookiePolicyUrl":"https://www.iubenda.com/privacy-policy/42527116", "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"acceptButtonColor":"#0073CE","acceptButtonCaptionColor":"white","customizeButtonColor":"#212121","customizeButtonCaptionColor":"white","rejectButtonDisplay":true,"rejectButtonColor":"#b1b7bc","rejectButtonCaptionColor":"white","position":"bottom","textColor":"white","backgroundColor":"#000001" }};
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
<!-- fim da politica de privacidade -->


<!--Start of Tawk.to Script-->
<!--script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e2701fe8e78b86ed8aa5e1a/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script-->
<!--End of Tawk.to Script-->

<!-- Widget WatsApp -->
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5521981242836?text=Visitei o site Estúdiooca%20e%20gostaria de fazer contato" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
  z-index:1000;" target="_blank">
<i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a-->
