<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149460038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149460038-1');
  gtag('config', 'UA-149460038-1', { 'optimize_id': 'GTM-5987GBN'});

</script>	
<meta name="google-site-verification" content="gIl4gmxMxeXjVt17SBOp8I4nMUTjbSpiEyeSeL6B2-4" />
<meta name="description" content="Consultoria sob demanda para pessoas e empresas desenvolverem habilidades técnicas para trabalhar com produtos digitais em Ágil e Scrum."/>
<meta name="robots" content="follow, index"/>
<link rel="canonical" href="https://estudiooca.netlify.app" />
<meta name="author" content="estudiooca - Anderson da Costa Ribeiro"/>
<meta name="keywords" content="product owner curso, product owner scrum, product owner agile, product owner backlog product owner treinamento, product owner conceito, curso de product owner">	
<meta name="keywords" content="gerente de produto o que faz, gerente de produtos digitais, gerente de produto curso
gerente de produto atribuições, gerente de produto atividades, product manager">	
<meta name="keywords" content="ux designer curso, ux designer o que faz,  ux designer o que é, ux designer brasil, ux designer blog, ux design curso rj, ux design como começar">
<meta name="keywords" content="scrum o que é, scrum gestão ágil para projetos de sucesso, scrum brasilscrum basico, scrum burndown chart, scrum certificação, scrum curso rj">
<meta name="Keyowrd" contente="lean startup, lean agile, lean analytics, lean agile coach, lean ágil">

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="consultória.Treinamento">
	<meta property="og:title" content="Estúdiooca | Consultória em gestão de produto com ágil e scrum">
	<meta property="og:url" content="https://estudiooca.netlify.app/">
	<meta property="og:image" content="/img/og-image.jpg">

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>
