
<head>
<style type="text/css">	
	 a.button5{
	 display:inline-block;
	 padding:0.3em 1.2em;
	 margin: 12px 0.1em 0.1em 0; 
	 border-radius:13px;
	 box-sizing: border-box;
	 text-decoration:none;
	 font-family:'Roboto',sans-serif;
	 font-size:35px;
	  
	 color:#FFFFFF;
	 background-color:#1d9ad3;
	 text-align:center;
	 transition: all 0.2s;
	}
	a.button5:hover{
	 background-color:#4095c6;
	}
	@media all and (max-width:30em){
	 a.button5{
	  display:block;
	  margin:0.2em auto;
	 }
	}		
</style>		   	
<head/>

<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p><p>
        <a href="/agendar" class="button5">Saiba mais</a>

        {{ end }}
        
      </div>
    </div>
     
  </div>
</div>
