<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149460038-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149460038-1');
  
</script>	
<meta name="google-site-verification" content="gIl4gmxMxeXjVt17SBOp8I4nMUTjbSpiEyeSeL6B2-4" />
<meta name="description" content="Consultoria sob demanda para pessoas e empresas desenvolverem habilidades técnicas para trabalhar com produtos digitais em Ágil e Scrum."/>
<meta name="robots" content="follow, index"/>
<link rel="canonical" href="https://estudiooca.netlify.app" />
<meta name="author" content="estudiooca - Anderson da Costa Ribeiro"/>
<meta name="keywords" content="product owner curso, product owner scrum, product owner agile, product owner backlog product owner treinamento, product owner conceito, curso de product owner">	
<meta name="keywords" content="gerente de produto o que faz, gerente de produtos digitais, gerente de produto curso
gerente de produto atribuições, gerente de produto atividades, product manager">	
<meta name="keywords" content="ux designer curso, ux designer o que faz,  ux designer o que é, ux designer brasil, ux designer blog, ux design curso rj, ux design como começar">
<meta name="keywords" content="scrum o que é, scrum gestão ágil para projetos de sucesso, scrum brasilscrum basico, scrum burndown chart, scrum certificação, scrum curso rj">
<meta name="Keyowrd" contente="lean startup, lean agile, lean analytics, lean agile coach, lean ágil">

</head>
<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Estúdiooca" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/" class="pa3 no-underline db">Home</a></li>
		<li><a href="/contact" class="pa3 no-underline db">Contato</a></li>
		<a href="/values" class="pa3 no-underline db" style="color:#ff4400;">Agendar</a>
                <li><a href="/post" class="pa3 no-underline db">Blog</a></li>
	
	</ul>

</nav>
