table
{
  border-radius: var(--border-radius);
  overflow: hidden;
}

td, th {
  padding: $spacing-medium;
}

th:not(:first-child), td:not(:first-child) {
  text-align: right;
}


tr th {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--grey-1);
}
