{{ define "main" }}

<head>
  <script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '25305ca80520bb936e981e4d8a9f7377db022b4a');
</script>
</head>

<div class="mw7 center ph3 pt4">

 <!-- Widget em linha do Calendly - início -->
<div class="calendly-inline-widget" data-url="https://calendly.com/estudioocarj/bate-papo" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Widget em linha do Calendly - fim -->
  
</div>

{{ end }}

