{{ define "main" }}

<head>
  <script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '25305ca80520bb936e981e4d8a9f7377db022b4a');
</script>
</head>

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">
		
		<meta name="google-site-verification" content="gIl4gmxMxeXjVt17SBOp8I4nMUTjbSpiEyeSeL6B2-4" />


		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
