{{ define "main" }}

<head>
 
  <script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '25305ca80520bb936e981e4d8a9f7377db022b4a');
  
</script>
 
</head>



  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p> {{ .Date.Format "Jan 2, Mon, 2006" }} </p>
      <p> Leitura, {{ .ReadingTime }}  minutos</p>
    </div>
	  
	  
   
  <!-- espaço do webreader -->  
   	
<script src="https://webreader.naturalreaders.com/nr-webreader.js" defer></script>
<script>
    window.addEventListener("DOMContentLoaded", function() {
        if (typeof NRWebReader != 'undefined') {
            window['NRWebReader'] = new NRWebReader({
            widget_id: "osf7sdanla"  // DO NOT REMOVE. This is your widget ID for your WebReader
            });
        }
    }); 
</script>

   
 </div>  
 </div>
    
{{ end }}
  
